<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics.id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics.id }}');
  function sendGaEvent(category, action, label, value) {
	  gtag('event', action||'ACTION', {
		'event_category': category||'CATEGORY',
		'event_label': label||'',
		'value': value||''
	  });
  }
</script>