<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics.id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics.id }}');
  function sendGaEvent(category, action, label, value) {
	  if(!category) category = 'LINK';
	  if(!action) action = 'CLICK';
	  if(!label) label = '';
	  if(!value) value = '';
	  ga('send', 'event', category, action, label, value);
  }
</script>